- @page_title = "Meeting of the #{OpenlyLocal::Committee.find(@meeting.committee_id).title}"

= render :partial=>"meeting", :object=>@meeting

%p.quiet
  (via 
  = link_to 'Openly Local', 'http://openlylocal.com/councils/167-Birmingham-City-Council'
  )