#quickly_find_near_you
  - form_for Ward.new, :url=>{:controller=>'wards', :action=>'go'}, :method=>:get do |page|
    Show me everything about the
  
    = page.text_field :name, :autocomplete =>"off", :value=>'B5 8AB', :onfocus=>'clearText(this);'
    = submit_tag 'postcode', :class=>'submit'

- content_for :scripts do
  
  - javascript_tag do
    $(document).ready(function() { $("input#ward_name").autocomplete("auto_complete_for_ward_name") });