#quickly_find_something

  - form_for Page.new, :url=>{:controller=>'pages', :action=>'go_to_title'} do |page|
    Take me to the:
    = page.text_field :title, :autocomplete =>"off", :value=>'Council Tax', :onfocus=>'clearText(this);'
    = submit_tag 'page', :class=>'submit'

- content_for :scripts do
  
  - javascript_tag do
    $(document).ready(function() { $("input#page_title").autocomplete("auto_complete_for_page_title") });