
- if logged_in?
  - postcode = current_user.postcode

- postcode ||= cookies[:postcode]
- postcode ||= "B1 1AB"
- phrase ||= "what"
#quickly_find_near_you
  %a{:name=>"postcode"}
  - form_for Ward.new, :url=>{:controller=>'wards', :action=>'go'}, :method=>:get do |page|
    My postcode is
  
    = page.text_field :name, :autocomplete =>"off", :value=>postcode, :onfocus=>'clearText(this);'
    
     
    = phrase.humanize
    is
    = submit_tag 'near me', :class=>'submit'
    ?

- content_for :scripts do
  
  - javascript_tag do
    $(document).ready(function() { $("input#ward_name").autocomplete("auto_complete_for_ward_name") });