- @page_title = "Sorry - that page doesn't exist"

%h2
  = link_to "Follow it on the Birmingham.gov.uk site", @original_url
  
%p
  We are working toward removing all broken links on the site, and building pages where necessary.