.flickr_image
  = sanitize flickr_image.description.gsub('alt=""', 'alt="' + flickr_image.title + "on Flickr" + '"')
  
  %p
    &#147;
    = link_to flickr_image.title, flickr_image.link
    &#148;
    
    on Flickr