- if @page
  -unless @page.parent.blank?
    -unless @page.parent.children.empty?
      %ul#siblingmenu
        - for page in @page.parent.children
          - unless page.alias
            - item_class = ''
            - item_class = 'active' if page==@page
            %li{:class=>item_class}
              %span{:id=>'menu_item_' + page.id.to_s}
                - begin
                  = link_to h(page.title), page_path(page)
                - rescue
                  - if page == @page
                    -unless @page.children.empty?
                      %ul#submenu
                        - for page in @page.children
                          - unless page.alias
                            %li
                              - begin
                                = link_to h(page.title), page_path(page)
                              - rescue


        