- rss_item = rss_item_event
- unless rss_item.blank?
  %li
    %strong.event_title
      - begin
        - unless rss_item.title.blank?
          = link_to rss_item.title.slice!(/(.*),/).chomp(','), rss_item.link
      - rescue