- @page_title = "Near me"

  
#quick_find
  = render :partial=>"base/quick_near_you"


%h2
  Birmingham is divided up into the following 'constituencies' and 'wards'
  
%p
  A constituency is a geographic part of the city and each has a Member of Parliament that you can find here.
%p  
  A ward is a smaller area, each of which having a number of local Councillors, which you can also find out about here.

#constituencies_and_wards

  #constituencies

    %h3
      Constituencies
  
    = render :partial => 'constituency', :collection=>@constituencies
  
  #wards

    %h3
      Wards

    = render :partial => 'wards/ward', :collection=>@wards