%h2
  Birmingham is divided up into the following 'constituencies' - geographic parts of the city, each of which contains a number of 'wards'.
%p
  Choose your ward from the following list to get a useful page of information for that area of Birmingham.

#constituencies
  = render :partial => 'constituency', :collection=>@constituencies