@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import compass/reset.sass

+blueprint
// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box

pre
  :overflow auto
  
.beta
  font-size: 33%
  
#this_is_a_beta
  :background-color #ffeeee
  :padding 1em
  :margin-bottom 1.5em
a
  :color #06f
  
a:hover
  :color red
%body
  :font-size 150% !important
  .container
    +container
    
%body.bigText
  +blueprint-typography-body(16px)
  
%body.biggerText
  +blueprint-typography-body(24px)

.quiet
  :color #666
  
  
.vcard
  .fn
    :font-weight bold
  .country-name
    :display none

#the_event
  :background-color #dfd
  :padding 1em
  :font-weight bold

#user_menu
  +column(24,true)

  :text-align right
  ul, li
    :list-style-type none
    :display inline-block
#skip
  :margin-bottom 1.5em
  :background-color #ddd
  +column(24,true)
  a
    :color #666
  #jump
    :background-color #ddd
  
    +column(12)
    :padding 0.5em
  #resize
    :background-color #ddd
    
    +column(11,true)
    :text-align right
    :padding 0.5em
#header
  +column(24,true)
  :padding-top 1.5em
  #logo_and_breadcrumb
    +column(17)
    h1#logo
      +column(8,true)
    
      a
        :color black
        :text-decoration none
        
        img
          :vertical-align middle
          :margin-top -0.5em
      a:hover, a:focus
        :color red

    #breadcrumb
      +column(17,true)
      :padding-bottom 1.5em
      :margin-bottom 1.5em
  #intro_header
    +column(24)
    h1#logo
      +column(9,true)

      a
        :color black
        :text-decoration none
        img
          :vertical-align middle
          :margin-top -0.5em
      a:hover, a:focus
        :color red

    #intro
      +column(15,true)
      h2
        :color #999
  #quickly_find_something
    :margin-top -1.5em
    +column(7, true)

  
#navigation
  +column(6)
  +append(2)
  ul
    :text-indent 0
    :margin 0
    :padding 0
    li
      :list-style-type none
      :line-height 1.5em
      a
        :text-decoration none
    li.active
      :background-color #ffd
      a
        :color black
        :font-weight bold



#content
  +column(16,true)
  :font-size 125% !important
  #messages
    +column(16,true)
  h1
    :padding-bottom 0.5em
    :border-bottom 4px solid #eee
    :font-size 200%
  
  #quick_find
    :padding 1.5em
    :background-color #eeffee
    :margin-top 1.5em
    :margin-bottom 1.5em
  #quickly_find_something, #quickly_find_near_you
    :font-size 150%
    input
      :padding 0.25em

      :font-size 100%
      
    #page_title
      :width 11em
      :color #999
    #ward_name
      :width 4em
      :color #999
      
    
    #page_title, #ward_name
      :border 2px solid #666
    #page_title:focus, #ward_name:focus
      :border 2px solid black
    .submit:hover
      :background-color white
      :cursor pointer
  
  
  #councillors
    +column(7)
    +append(2)
  #fix_my_street
    +column(7,true)

  
#news_and_events
  +column(16,true)
  :margin-top 1.5em
  #events
    +column(7)
    +append(2)
  #news
    +column(7,true)
#footer
  +column(24,true)
  :margin-top 4.5em
  :margin-bottom 1.5em
  ul
    :list-style-type none
    :text-indent 0
    :margin 0
    :margin-right 1.5em
    :padding 0
    :text-indent 0
    li
      :display inline
      :margin 0
      :margin-right 1.5em
      :padding 0
      :text-indent 0