- page = page_version
%li.page{:id=>"page_#{page.id}"}
  = link_to page.title, page_path(page.page)
  - unless page.user.blank?
    %span.quiet
      by 
    = link_to page.user.login, user_path(page.user)
  