.pages
  = link_to Page.root_page.title, page_path(Page.root_page)
  %ul
    - for page in Page.root_page.children
      - unless page.alias
        %li
          - begin
            = link_to h(page.title), page_path(page)
          - rescue

  