- @page_title = "Councillors"

- content_for :left_hand do

    
  - if cookies[:ward_id]
    %h3
      My Councillors
    #ward_members
      %ul
        = render :partial=>"members/member_long", :collection=>Ward.find(cookies[:ward_id]).openly_local_ward.members


  %h3
    = link_to "Write to a councillor", "http://www.writetothem.com/"

- cache do
  %h3
    All Councillors
  %ul
    = render :partial=>"members/member", :collection=>@members